<h1>Welcome <%=current_user.name%></h1>
<h2><%=current_user.company_name%></h2>
<%if flash.has?(:message)%>
<p>
  <%=flash[:message]%>
</p>
<%end%>
<p>
  <%=current_user.clients.count%> active clients
</p>
<div>
  <a href="/clients/new">New Client</a>
  <a href="/births/new">New Birth</a>
  <a href="/users">View Doulas</a>
</div>
<ul>
  <%current_user.clients.each do |client|%>

    <li>
      <a href ="/clients/<%=client.id%>"><%=client.name%> and <%=client.partner_name%></a>
    </li>
  <%end%>
</ul>

<a href ="/logout">Log out</a>
