<h2>Editing Profile for <%=@user.name%></h2>
<form method="POST" action="/users/<%=@user.id%>">
<input id="hidden" type="hidden" name="_method" value="PATCH" />
<label for="name">Name: </label>
<input type="text" name="name" id="name" value="<%=@user.name%>" required/>

<label for="email">Email: </label>
<input type="text" name="email" id="email"value="<%=@user.email%>" required/>

<label for="company_name">Company Name: </label>
<input type="text" name="company_name" id="company_name"value="<%=@user.company_name%>"  required/>

<input type="submit" value="Update Profile" id="submit" />

</form>
