
<div class="container container-fixed">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/clients/<%=@client.id%>">View <%=@client.name%></a></li>
      <li class="breadcrumb-item active">Edit</li>
    </ol>
  </nav>
  <%if flash.has?(:message)%>
  <p class="flash_message">
    <%=flash[:message]%>
  </p>
  <%end%>
  <h2>Edit Client: <%=@client.name%></h2>
  <form method="POST" action="/clients/<%=@client.id%>">
    <input type='hidden' id='hidden' name="_method" value="PATCH" />
    <div class="form-row">
      <div class="form-group col">
        <label for="client[name]">Client Name: </label>
        <input class="form-control" type="text" name="client[name]" id="client_name" value="<%=@client.name%>" required/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="client[due_date]">Due Date: </label>
        <input class="form-control" type="date" name="client[due_date]" id="client_due_date" value="<%=@client.due_date%>"/>
      </div>
      <div class="form-group col-md-2">
        <label for="client[age]">Age: </label>
        <input class="form-control" type="number" name="client[age]" id="client_age" value="<%=@client.age%>"/>
      </div>
      <div class="form-group col-md-4">
        <label for="client[partner_name]">Partner Name: </label>
        <input class="form-control" type="text" name="client[partner_name]" id="client_partner_name" value="<%=@client.partner_name%>"/>
      </div>
      <div class="form-group col-md-2">
        <label for="client[num_children]">Number of Children: </label>
        <input class="form-control" type="text" name="client[num_children]" id="client_num_children" value="<%=@client.num_children%>"/>
      </div>
    </div>

    <div class="form-group">
      <label for="client[address]">Address: </label>
      <input class="form-control" type="text" name="client[address]" id="client_address"value="<%=@client.address%>" />
    </div>

    <div class="btn-group">
      <input class="btn btn-primary" type="submit" value="Update Client" id="submit" />
      <a class="btn btn-outline-primary" href="/dashboard">Cancel</a>
    </div>

    <form method="POST" action="/clients/<%=@client.id%>/delete">
      <input type="hidden" id="hidden" name="_method" value="DELETE" />
      <input class="submit btn btn-danger" type="submit" id="delete" value="Delete Client" />
    </form>
  </form>


</div>
